<section data-ng-controller="HomeController" data-ng-init="find()">
    <div class="row">
        <h1>Proz Gear</h1>
        <h2>Find out what gear your favorite Gamer pro uses to beat the competition </h2>
    </div>

    <div class="row">
        <h3>Top pros</h3>
        <div class="list-group">
            <div data-ng-repeat="pro in topPros" class="list-group-item col-sm-2 text-center">
                <a data-ng-href="#!/pros/{{pro._id}}">
                    <img ng-src="{{pro.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                    <h4 class="list-group-item-heading">{{pro.name}}</h4>
                </a>

            </div>
        </div>
    </div>
    <div class="row">
        <h3>Top gear</h3>
        <div class="list-group row">
            <div data-ng-repeat="gear in topGears" class="list-group-item col-sm-3 text-center">
                <a data-ng-href="#!/gears/{{gear._id}}">
                    <img ng-src="{{gear.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                    <h4 class="list-group-item-heading" data-ng-bind="gear.name"></h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Recently updated Pros</h3>
        <div class="list-group">
            <div data-ng-repeat="pro in recentPros" class="list-group-item col-sm-2 text-center">
                <a data-ng-href="#!/pros/{{pro._id}}">
                    <img ng-src="{{pro.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                    <h4 class="list-group-item-heading">{{pro.name}}</h4>
                </a>

            </div>
        </div>
    </div>
    <div class="row">
        <h3>Recently added gear</h3>
        <div class="list-group row">
            <div data-ng-repeat="gear in recentGears" class="list-group-item col-sm-3 text-center">
                <a data-ng-href="#!/gears/{{gear._id}}">
                    <img ng-src="{{gear.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                    <h4 class="list-group-item-heading" data-ng-bind="gear.name"></h4>
                </a>
            </div>
        </div>
    </div>
</section>