<section data-ng-controller="GearsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Gear</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="gear.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="published">Published</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="gear.published" id="published" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Type</label>
                    <div class="controls">
                        <select id="type" class="form-control" ng-model="gear.selectedGearType" ng-options="type as type.name for type in gearTypes"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Amazon Link</label>
                    <div class="controls">
                        <input type="text" data-ng-model="gear.amazonLink" id="amazonLink" class="form-control" placeholder="www.amazon.com/">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Official Website</label>
                    <div class="controls">
                        <input type="text" data-ng-model="gear.website" id="website" class="form-control" placeholder="www.website.com/">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">ASIN</label>
                    <div class="controls">
                        <input type="text" data-ng-model="gear.asin" id="asin" class="form-control" placeholder="ASIN">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>