<section data-ng-controller="GearsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Gears</h1>
    </div>
    <div class="form-group">
        <input type="text" ng-model="search" typeahead="gear as gear.name for gear in gears | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="gearSearch($item)" placeholder="Search Gear...">
    </div>
    <div class="form-group">
        <label>Filter by type:</label>
        <div class="btn-group">
            <button type="button" class="btn btn-default  btn-sm"
                    ng-class="{active: !selectedTypeFilter}"
                    ng-click="setFilterGearType()">
                All
            </button>
            <button type="button"
                    ng-repeat="gearType in gearTypes"
                    class="btn btn-default  btn-sm"
                    ng-class="{active: gearType == selectedTypeFilter}"
                    ng-click="setFilterGearType(gearType)">
                {{gearType}}
            </button>
        </div>
    </div>
    <div class="list-group row"><!-- TODO make this the same height -->
        <div data-ng-repeat="gear in gears | filter:byType | limitTo: offset - gears.length | limitTo: pageSize" class="list-group-item col-sm-3 text-center">
            <a data-ng-href="#!/gears/{{gear._id}}">
                <img ng-src="{{gear.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                <h4 class="list-group-item-heading" data-ng-bind="gear.name"></h4>
            </a>
        </div>
    </div>
    <!-- this is the paging control -->
    <pagination total-items="gears.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="gears.length > pageSize"></pagination>
    <!-- end -->
</section>