<section data-ng-controller="GearsController">
    <div class="modal-header">
        <h1>New Gear</h1>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Name</label>
                    <div class="col-sm-10 controls">
                        <input type="text" ng-model="data.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="col-sm-2 control-label" for="type">Type</label>
                    <div class="col-sm-10 controls">
                        <select id="type" class="form-control" ng-model="data.selectedGearType" ng-options="type as type.name for type in gearTypes"></select>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10 form-group">
                    <input type="submit" class="btn btn-default" data-ng-click="modalSubmit(data)">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
