<section data-ng-controller="GearsController" data-ng-init="findOne()">
    <div class="page-header">
        <div class="pull-right" data-ng-show="shouldRender(authentication.user)">
            <a class="btn btn-primary" href="/#!/gears/{{gear._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a data-ng-href="{{gear.amazonLink}}"><img ng-src="{{gear.profilePictureUrl}}" class="profilepic img-rounded" /></a>
            </div>
            <div class="col-sm-10">
                <h1>{{gear.name}}</h1>
                <p>Type: <span data-ng-bind="gear.type"></span></p>
                <p><a data-ng-href="{{gear.amazonLink}}" data-ng-show="gear.amazonLink">Check it out on Amazon</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=prsge-20&l=pf4&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><span data-ng-show="gear.website">| <a data-ng-href="{{gear.website}}">Official Website</a></span></p>
                <p><a target="_blank" rel="nofollow" href="http://www.amazon.com/tryprimefree/?ref_=assoc_tag_ph_1427739975520&_encoding=UTF8&camp=1789&creative=9325&linkCode=pf4&tag=prsge-20&linkId=L72KJYDJUX6XK6ML">Get 2 day Shipping with a Free 30-day Amazaon Prim Free Trial!</a></span></p>
                <p></p>
            </div>
        </div>
        <ul>
            <li ng-repeat="feature in gear.features">{{feature}}</li>
        </ul>
    </div>
    <div class="container">
        <div class="row" ng-show="relatedPros">
            <!-- TODO- add default if there are no pros that use this gear -->
            <h2>Pros that use {{gear.name}}</h2>
            <div class="list-group">
                <div data-ng-repeat="proItem in relatedPros" class="list-group-item col-sm-2 text-center">
                    <a data-ng-href="#!/pros/{{proItem.pro._id}}">
                        <img ng-src="{{proItem.pro.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                        <h4 class="list-group-item-heading">{{proItem.pro.name}}</h4>
                    </a>

                </div>
            </div>
        </div>
        <div class="row"><!-- TODO move this to footer-->
            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="gear.created | date:'mediumDate'"></span>
                </em>
            </small>
        </div>
        <div class="row">
            <p><small><a ng-click="reportIssue()" href="">Report an issue</a></small></p>
        </div>
    </div>
</section>
