<section data-ng-controller="GearsController" data-ng-init="findOne()">
    <div class="page-header">
        <div class="pull-right" data-ng-show="shouldRender(authentication.user)">
            <a class="btn btn-primary" href="/#!/gears/{{gear._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a data-ng-href="{{gear.amazonLink}}"><img ng-src="{{gear.profilePictureUrl}}" class="profilepic img-rounded" /></a>
            </div>
            <div class="col-sm-10">
                <h1>{{gear.name}}</h1>
                <p>Type: <span data-ng-bind="gear.type"></span></p>
                <p><a data-ng-href="{{gear.amazonLink}}" data-ng-show="gear.amazonLink">Check it out on Amazon</a><span data-ng-show="gear.website">| <a data-ng-href="{{gear.website}}">Official Website</a></span></p>
                <p><a target="_blank" rel="nofollow" href="http://www.amazon.com/tryprimefree/?ref_=assoc_tag_ph_1427739975520&_encoding=UTF8&camp=1789&creative=9325&linkCode=pf4&tag=prozgear-20&linkId=L72KJYDJUX6XK6ML">Get 2 day Shipping with a Free 30-day Amazon Prime Trial!</a></p>
                <p></p>
            </div>
        </div>
        <ul>
            <li ng-repeat="feature in gear.features">{{feature}}</li>
        </ul>
        <script type="text/javascript">
            amzn_assoc_placement = "adunit0";
            amzn_assoc_enable_interest_ads = "true";
            amzn_assoc_tracking_id = "prozgear-20";
            amzn_assoc_ad_mode = "auto";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_textlinks = "";
            amzn_assoc_linkid = "7b45b0f2b7f536f629891bd779ab5c73";
            amzn_assoc_emphasize_categories = "13900871,172282,468642";
            amzn_assoc_fallback_mode = { "type": "search", "value": "keyboard and mouse" };
            amzn_assoc_default_category = "All";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
    <div class="container">
        <div class="row" ng-show="relatedPros.length">
            <!-- TODO- add default if there are no pros that use this gear -->
            <h2>Pros that use {{gear.name}}</h2>
            <div class="list-group">
                <div data-ng-repeat="proItem in relatedPros" class="list-group-item col-sm-2 text-center">
                    <a data-ng-href="#!/pros/{{proItem.pro._id}}">
                        <div class="row listpic">
                            <img ng-src="{{proItem.pro.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                        </div>
                        <h4 class="list-group-item-heading">{{proItem.pro.name}}</h4>
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <!-- TODO move this to footer-->
            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="gear.created | date:'mediumDate'"></span>
                </em>
            </small>
        </div>
        <div class="row">
            <p><small><a ng-click="reportIssue()" href="">Report an issue</a></small></p>
        </div>
    </div>
</section>
