<section data-ng-controller="GearsController" data-ng-init="findOne()">
    <div class="page-header">
        <div class="pull-right" data-ng-show="shouldRender(authentication.user)">
            <a class="btn btn-primary" href="/#!/gears/{{gear._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <div class="pull-left">
            <img ng-src="{{gearDetails.item.MediumImage.URL}}"/>
        </div>
        <h1>{{gear.name}}</h1>
        <p>Type: <span data-ng-bind="gear.type"></span></p>
        <p><a data-ng-href="http://{{gear.amazonLink}}" data-ng-show="gear.amazonLink">Check it out on Amazon</a></p>
        <p><a data-ng-href="http://{{gear.website}}" data-ng-show="gear.website">Website</a></p>
        <iframe ng-src="{{iframeURL}}"></iframe>
        <ul>
            <li ng-repeat="feature in gearDetails.item.ItemAttributes.Feature">{{feature}}</li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <h2>Pros that use {{gear.name}}</h2>
            <div class="list-group">
                <div data-ng-repeat="proItem in relatedPros" class="list-group-item col-sm-2 text-center">
                    <a data-ng-href="#!/pros/{{proItem.pro._id}}">
                        <img ng-src="{{proItem.pro.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                        <h4 class="list-group-item-heading">{{proItem.pro.name}}</h4>
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="gear.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="gear.user.displayName"></span>
                </em>
            </small>
            <p><small><a>Report an issue</a></small></p><!-- TODO-->
        </div>
    </div>
</section>
