<section data-ng-controller="ProsController" data-ng-init="addGear()">
    <div class="page-header">
        <h1>Adding {{type}} for {{pro.name}}</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="createRequest()" novalidate>
            <div class="form-group">
                <h3>Step 1. Select Gear</h3>
                <div ng-show="!selectedGear.name">
                    <label class="control-label" for="name">Select an existing item</label>
                    <div class="controls">
                        <input type="text" ng-model="search" typeahead="gear as gear.name for gear in gears | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="gearSelect($item)" placeholder="Start typing for Gear...">
                        <button type="button" class="btn btn-info" ng-click="openCreateGear(type)">Or create a new one</button>
                    </div>
                    <div ng-show="selectedGear"><p><strong>Gear selected:</strong> {{selectedGear.name}}<button ng-click="clearSelectedGear()" ng-show="selectedGear.name">Clear</button></p></div>
                </div>
            </div>

            <div class="form-group">
                <h3>Step 2. Provide proof</h3>
                <label class="control-label" for="name">Please include a link that proves {{pro.name}} uses this gear</label>
                <div class="controls">
                    <input type="text" name="proof" data-ng-model="proofLink" id="proofLink" class="form-control" placeholder="" />
                </div>
            </div>

            <div class="form-group">
                <h3>Step 3. Add explanation</h3>
                <label class="control-label" for="explanation">Please add any additional explanation</label>
                <div class="controls">
                    <textarea name="explanation" data-ng-model="explanation" id="explanation" class="form-control" cols="30" rows="10" placeholder=""></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>