<section data-ng-controller="ProsController">
    <div class="page-header">
        <h1>New Pro</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sport">Sport</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sport" id="sport" class="form-control" placeholder="Sport" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="team">Team</label>
                    <div class="controls">
                        <input name="team" data-ng-model="team" id="team" class="form-control" placeholder="Team" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="alias">Alt Ids (seperate by comma)</label>
                    <div class="controls">
                        <input name="alias" data-ng-model="alias" id="alias" class="form-control" placeholder="CLGNA Doublelift, zero and tenfb">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="fbProfile">Facebook profile</label>
                    <div class="controls">
                        <input name="fbProfile" data-ng-model="fbProfile" id="fbProfile" class="form-control" placeholder="www.facebook.com/">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Website</label>
                    <div class="controls">
                        <input name="website" data-ng-model="website" id="website" class="form-control" placeholder="www.example.com/">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
