<section data-ng-controller="ProsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Pro</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="pro.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="published">Published</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="pro.published" id="published" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sport">Sport</label>
                    <div class="controls">
                        <input type="text" data-ng-model="pro.sport" id="sport" class="form-control" placeholder="Sport" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="team">Team</label>
                    <div class="controls">
                        <input name="team" data-ng-model="pro.team" id="team" class="form-control" placeholder="Team" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="alias">Alt Ids (seperate by comma)</label>
                    <div class="controls">
                        <input name="alias" data-ng-model="pro.alias" id="alias" class="form-control" placeholder="CLGNA Doublelift, zero and tenfb">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="fbProfile">Facebook profile</label>
                    <div class="controls">
                        <input name="fbProfile" data-ng-model="pro.fbProfile" id="fbProfile" class="form-control" placeholder="www.facebook.com/">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Website</label>
                    <div class="controls">
                        <input name="website" data-ng-model="pro.website" id="website" class="form-control" cols="30" rows="10" placeholder="www.example.com/">
                    </div>
                </div>
                <h2>Mouse</h2>
                <div data-ng-hide="pro.gearList.$resolved || !pro.gearList.length">
                    <div ng-repeat="gear in pro.gearList | filter: {type: 'Mouse'}">

                        {{gear.name}} - {{gear.type}} <i class="glyphicon glyphicon-remove" ng-click="removeGear(gear)"></i>
                    </div>
                </div>
                <hr />
                <h2>Keyboard</h2>
                <div data-ng-hide="pro.gearList.$resolved || !pro.gearList.length">
                    <div ng-repeat="gear in pro.gearList | filter: {type: 'Keyboard'}">

                        {{gear.name}} - {{gear.type}} <i class="glyphicon glyphicon-remove" ng-click="removeGear(gear)"></i>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
        <!-- Not needed here but could use this code **Remove before production! **
            <div class="alert alert-warning text-center">
            <button ng-click="open('lg')">Link gear</button>?
        </div>
-->
    </div>
</section>
