<section data-ng-controller="ProsController" data-ng-init="findOne()">
    <div class="page-header">
        <div class="alert alert-warning animate-show" role="alert" ng-show="pro.published===false"><p>This pro has not been published to our site. You may still access it via direct link.</p> <p>Feel free to add start adding gear for this pro but they won't show up until we have verified them</p></div>
        <div class="pull-right" data-ng-show="shouldRender(authentication.user)">
            <a class="btn btn-primary" href="/#!/pros/{{pro._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <div class="profilepic">
            <img class="img-responsive img-rounded" ng-src="{{pro.profilePictureUrl}}" />
        </div>
        <h1 data-ng-bind="pro.name"></h1>
        <p>Sport: {{pro.sport}}</p>
        <p>Team: {{pro.team}}</p>
        <p>Alt Ids: {{pro.alias}}</p>
        <p><a target="_blank" data-ng-href="{{pro.fbProfile}}" data-ng-show="pro.fbProfile">Facebook <span class="glyphicon glyphicon-new-window" aria-hidden="true"></a></p>
        <p><a target="_blank" data-ng-href="{{pro.website}}" data-ng-show="pro.website">Website <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
    </div>
    <div class="container">
        <div ng-repeat="type in gearTypes" class="row">
            <h2>{{type}}s that {{pro.name}} uses</h2>
            <div class="list-group">
                <div ng-repeat="item in gearList | filter: {gear: {type: type}}" class="list-group-item col-sm-2 text-center">
                    <a data-ng-href="/#!/gears/{{item.gear._id}}">
                        <div class="row listpic">
                            <img ng-src="{{item.gear.profilePictureUrl}}" class="img-responsive img-rounded center-block" />
                        </div>
                        <p class="list-group-item-heading" title="{{item.gear.name}}">{{item.gear.name | limitTo: 50 }}{{item.gear.name.length > 50 ? '...' : ''}}</p>
                    </a>
                </div>
                <div class="list-group-item col-sm-2 text-center">
                    <a ng-href="/#!/pros/{{pro._id}}/addGear?type={{type}}">
                        <div class="row listpic">
                            <img ng-src="/modules/media/images/new-{{type.toLowerCase()}}.png" class="img-responsive img-rounded center-block" />
                        </div>
                        <h4 class="list-group-item-heading">Add a {{type}}</h4>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <small>
                <em class="text-muted">
                    Last updated on <span data-ng-bind="pro.lastUpdated | date:'mediumDate'"></span>
                </em>
            </small>
            <p><small><a ng-click="reportIssue()" href="">Report an issue</a></small></p>
        </div>
    </div>
</section>
