<section data-ng-controller="ProsController" data-ng-init="findOne()">
    <div class="page-header">
        <div class="pull-right" data-ng-show="shouldRender(authentication.user)">
            <a class="btn btn-primary" href="/#!/pros/{{pro._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <img class="profilepic img-rounded" src="{{pro.profilePictureUrl}}" />
        <h1 data-ng-bind="pro.name"></h1>
        <p>Team: <span data-ng-bind="pro.team"></span></p>
        <p>Sport: <span data-ng-bind="pro.sport"></span></p>
        <p>Team: <span data-ng-bind="pro.team"></span></p>
        <p>Alt Ids: <span data-ng-bind="pro.alias"></span></p>
        <p><a data-ng-href="http://{{pro.fbProfile}}" data-ng-show="pro.fbProfile">Facebook</a></p>
        <p><a data-ng-href="http://{{pro.website}}" data-ng-show="pro.website">Website</a></p>
        <hr />
        <h2>Mouse</h2>
        <a ng-href="/#!/pros/{{pro._id}}/addGear?type=Mouse">Add a mouse</a>
        <div ng-repeat="item in gearList | filter: {gear: {type: 'Mouse'}}">
            {{item.gear.name}} - {{item.gear.type}}
        </div>
        <hr />
        <h2>Keyboard</h2>
        <a ng-href="/#!/pros/{{pro._id}}/addGear?type=Keyboard">Add a Keyboard</a>
        <div ng-repeat="item in gearList | filter: {gear: {type: 'Keyboard'}}">
            {{item.gear.name}} - {{item.gear.type}}
        </div>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="pro.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="pro.user.displayName"></span>
        </em>
    </small>
</section>