<section data-ng-controller="ProsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="pro.name"></h1>
        <p data-ng-bind="pro.team"></p>
        <div ng-repeat="gear in pro.gearList">
            test
            {{gear.name}} - by {{gear.type}}
        </div>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/pros/{{pro._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="pro.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="pro.user.displayName"></span>
        </em>
    </small>
</section>